{% extends "base.html" %}
{% block content %}
<h2 class="mb-3">Available Books</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th><th>Title</th><th>Author</th><th>Year</th><th>Available</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books.values() %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.year }}</td>
            <td>{{ 'Yes' if book.available else 'No' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
